<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dji.sampleV5.modulecommon">

    <!-- Google Maps -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="${GMAP_API_KEY}" />

    <!-- AMaps -->
    <meta-data
        android:name="com.amap.api.v2.apikey"
        android:value="${AMAP_API_KEY}" />
</manifest>